---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h1 class="text-center text-4xl font-semibold text-black">Trusted by Industry Leaders</h1>
  <h2 class="text-center text-red-500 mt-4">Proud to work with innovative startups</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <!-- Logos of the product startups Kryolite Security works with -->
    <Icon class="size-8 md:size-12" name="simple-icons:airbnb" />
    <Icon class="size-8 md:size-12" name="simple-icons:spotify" />
    <Icon class="size-8 md:size-12" name="simple-icons:stripe" />
    <Icon class="size-8 md:size-16" name="simple-icons:slack" />
    <Icon class="size-8 md:size-16" name="simple-icons:dropbox" />
    <Icon class="size-8 md:size-12" name="simple-icons:zoom" />
  </div>
</div>

