---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h1 class="text-center text-4xl font-semibold text-black">Trusted by Industry Leaders</h1>
  <h2 class="text-center text-red-500 mt-4">Proud to work with innovative startups</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <!-- Standardized logo containers -->
<div>
    </div>
        <div class="w-16 h-16 flex items-center justify-center">
      <Icon class="w-15 h-15" name="simple-icons:siemens" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center">
      <Icon class="w-10 h-10" name="simple-icons:google" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center">
      <Icon class="w-10 h-10" name="simple-icons:linkedin" />
    </div>
    <div class="w-16 h-16 flex items-center justify-center">
      <Icon class="w-10 h-10" name="simple-icons:mozilla" />
    </div>
        <div class="w-16 h-16 flex items-center justify-center">
      <Icon class="w-10 h-10" name="simple-icons:readthedocs" />
    </div>
  </div>
</div>
