---
import Container from "@/components/container.astro";
import { getFormattedDate } from "@/utils/all";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container full>
    <div class="mx-auto max-w-[735px] mt-14 px-6 md:px-8 lg:px-0">
      <!-- your title and meta content -->
    </div>

    <div class="mx-auto prose prose-lg mt-6 px-6 md:px-8 lg:px-0">
      <slot />
    </div>
    
    <div class="text-center mt-8 px-6 md:px-8 lg:px-0">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
